:root {
  --primary-font: bold;
}
.item-One {
  font-weight: var(--primary-font);
}
.item-Two {
  font-weight: var(--primary-font);
  position: relative;
  left: 30px;
}
.item-Three {
  font-weight: var(--primary-font);
  position: relative;
  left: 60px;
}
.box-list {
  list-style: none;
}
.box-one {
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  display: inline-block;
  position: relative;
}
.box-Two {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  position: relative;
  top: 30px;
}
.box-Three {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  position: relative;
  top: 60px;
}
.container {
  width: 300px;
  height: 300px;
  background-color: lightgrey;
  position: relative;
}
.heading-three {
  padding-top: 40px;
}
.box {
  font-weight: var(--primary-font);
  width: 150px;
  height: 150px;
  background-color: lightpink;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.container-four {
  height: 300px;
  width: 250px;
  position: relative;
  border: 2px solid black;
}
.container-four-menu {
  font-weight: var(--primary-font);
  background-color: pink;
  width: 80px;
  padding: 8px;
  position: absolute;
}
.container-four-content {
  font-weight: var(--primary-font);
  background-color: lightgray;
  height: 280px;
  width: 170px;
  right: 0%;
  padding: 10px;
  position: absolute;
}
.container-five {
  height: 100px;
  width: 370px;
  border: 2px solid black;
  position: relative;
}
.menu-one {
  font-weight: var(--primary-font);
  width: 100px;
  height: 80%;
  background-color: lightgrey;
  position: absolute;
  padding: 10px;
  border-right: 2px solid white;
  left: 0px;
}
.menu-two {
  font-weight: var(--primary-font);
  width: 100px;
  padding: 10px;
  height: 80%;
  background-color: lightgrey;
  position: absolute;
  left: 125px;
  right: 95px;
  text-align: center;
}
.menu-three {
  font-weight: var(--primary-font);
  width: 100px;
  padding: 10px;
  height: 80%;
  background-color: lightgrey;
  position: absolute;
  right: 0px;
  text-align: center;
}
